<template>
  <div class="iCountUp">
    <ICountUp
      :delay="delay"
      :endVal="endVal"
      :options="options"
      @ready="onReady"
    />
  </div>
</template>

<script>
  /*
    import trackPng from '~/assets/img/baidu/track.png'
    */
/*
  import ICountUp from 'vue-countup-v2';
*/
  var ICountUp = () => import('vue-countup-v2')

  let vm = this;
  export default {
    name: "CountUp",
    layout: 'empty',
    auth: 'false',
    components: {
      ICountUp
    },
    props: {
      itemProp: {
        type: Object,
        require: false,
        default: () => {
        }
      },
      list: {
        type: Array,
        require: false,
        default: () => []
      },
      val: {
        type: Number,
        require: false,
      },
    },
    data() {
      vm = this
      return {
        delay: 2000,
        endVal: 0,
        options: {
          useEasing: true,
          useGrouping: true,
          separator: ',',
          decimal: '.',
          prefix: '',
          suffix: ''
        }
      }
    },
    computed: {
      currentIndex() {
        return ''
        /*
                return this.$store.getters["modules/common/currentIndex"]
        */
      }
    },

    watch: {
      val(val) {
        this.endVal = this.$common.deepCopy(val);
      },
      "itemProp": {
        immediate: true,
        handler(val) {
          if (val) {
            this.item = this.$common.deepCopy(val)
          }
        }
      },
    },

    async mounted() {
      const self = this;
    },
    methods: {
      onReady: function(instance, CountUp) {
        const that = this;
       // instance.update(that.endVal + 100);
      },

      async asyncMounted() {
        const self = this;

      },
      async methodDemo() {
        const self = this;
      },
      async dispatch() {
        this.$store.dispatch('modules/common/setCurrentIndex', 1)
      },
    }
  }
</script>

<style lang='scss'>

</style>
