<template>

  <v-dialog v-model="dialog" max-width="500px" scrollable
            :persistent="persistent"
            class="d-dialog">

    <v-card>
      <v-card-title
        class="headline primary lighten-2"
        primary-title
      >
        {{ title }}
      </v-card-title>

      <v-card-text>

        <slot></slot>

      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close" >关闭</v-btn>
<!--
        <v-btn color="blue darken-1" text @click="close" v-show="!formDisabled">取消</v-btn>
-->
<!--
        <v-btn color="blue darken-1" text @click="save" v-show="!formDisabled">保存</v-btn>
-->
      </v-card-actions>
    </v-card>
  </v-dialog>



</template>

<script>
  export default {
    name:"DDialog",
    components: {


    },
    layout: 'empty',
    auth:false,
    data() {
      return {
        dialog: false,
        inputDisabled: false,
        showError: false,
        showPassword: false,
        oldPassword: '',
        newPassword: '',
        newPasswordAgain: '',
        code: '',
        valid: true,
        email: '15552874987',
        icon:"mdi-home",
        rememberme: false,
        loading: false,
        responseuser: '',
        rules: {
          emailRules: [
            v => !!v || this.$t('必须填写账号'),
            // v => /.+@.+/.test(v) || this.$t('message.emailMustbeValid')
          ],
          required: value => !!value || "必须填写密码",
          emailMatch: () => ('密码不匹配')
        }
      }
    },

    async fetch({store, app}) {

    },
    computed: {

    },
    props:{
      value:{
        type:Boolean,
        default:false
      },
      persistent:{
        type:Boolean,
        default:true
      },
      title:{
        type:String,
        default:""
      },
    },
    watch:{
      value:{
        immediate:true,
        deep:true,
        handler(val){
          this.dialog = val
        }
      },
      dialog(val){
        this.$emit("input",val)
      }
    },
    mounted() {

    },
    async beforeMount() {},
    methods: {
      close(){
        this.dialog = false
      },
      async handleSubmit() {

        this.$refs.form.validate()
        if(!this.$refs.form.validate()){
          return;
        }

        const params  = {};
        params.pwd = this.newPassword;

        this.$axiosGet("/user/updatePwd", params).then(data => {

          this.$supervueLayer.msg("密码修改成功");
          setTimeout(()=>{this.loginOut()},2000)
        })

      },
    }
  }
</script>
