<template>
  <div style="padding: 30px;">

    <SvgIcon style="font-size: 80px;" class-name="empty" icon-class="empty"></SvgIcon>
    <p style="margin-top: 20px;">暂无数据</p>
  </div>
</template>

<script>
  export default {
    name: 'NoData',
    components: {},
    data() {
      return{}
    },
  }
</script>

<style lang='scss'>

</style>
