<template>
  <v-menu
    offset-y>
    <template v-slot:activator="{ on, attrs }">
      <span v-bind="attrs"
            v-on="on">
               <slot>menu content</slot>
      </span>

    </template>
    <v-list dense>
      <v-list-item
        v-for="(item, index) in items"
        @click="selectItem(index)"
        :key="index"
        link
      >
        <v-list-item-title   style="cursor: pointer;">{{ item.text }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
  /*
    import trackPng from '~/assets/img/baidu/track.png'
    */

  let vm = this;
  export default {
    name: "PMenu",
    layout: 'empty',
    auth: 'false',
    components: {},
    props: {
      itemProp: {
        type: Object,
        require: false,
        default: () => {
        }
      },
      list: {
        type: Array,
        require: false,
        default: () => []
      },
    },
    data() {
      vm = this
      return {
        title: "demo",
        item:"",
        items: [

        ],
      }
    },
    computed: {
      currentIndex() {
        return ''
        /*
                return this.$store.getters["modules/common/currentIndex"]
        */
      }
    },

    watch: {
      "title"() {},
      "itemProp":{
        immediate:true,
        handler(val){
          if(val){
            this.item = this.$common.deepCopy(val)

          }
        }
      },
      "list":{
        immediate:true,
        handler(val){
          if(val){
           this.items = this.$common.deepCopy(val);

          }
        }
      },
    },

    async mounted() {
      const self = this;
    },
    methods: {

      selectItem(index){
      console.info("删除了index",index)
      console.info("删除了this.list[index]",this.list[index])

      this.$emit("select",this.list[index])
      },
      async asyncMounted() {
        const self = this;

      },
      async methodDemo() {
        const self = this;
      },

    }
  }
</script>

<style lang='scss'>

</style>
