<template>
  <pre>
        <code class="language-javascript" v-html="code" />
      </pre>
</template>

<script>

    import Prism from 'prismjs'
    import 'prismjs/themes/prism.css';

    export default {
        name: "PrismCode",
        layout: 'empty',
        auth: 'false',
        components: {},
        props: {
            itemProp: {
                type: Object,
                require: false,
                default: () => {
                }
            },
            code: {
                type: [String,Object],
                require: false,
                default: ""
            },
        },
        data() {
            return {
                title: "demo",
                item: "",
            }
        },
        computed: {
            currentIndex() {
                return ''
                /*
                        return this.$store.getters["modules/common/currentIndex"]
                */
            }
        },

        watch: {
            "code": {
                immediate: true,
                deep: true,
                handler() {
                    setTimeout(() => {

                        Prism.highlightAll()
                    }, 0)
                }
            },
            "itemProp": {
                immediate: true,
                handler(val) {
                    if (val) {
                        this.item = this.$common.deepCopy(val)
                    }
                }
            },
        },

        async mounted() {

            Prism.highlightAll()
        },
        methods: {
            async asyncMounted() {

            },
            async methodDemo() {
            },
            async dispatch() {
                this.$store.dispatch('modules/common/setCurrentIndex', 1)
            },
        }
    }
</script>

<style lang='scss'>

</style>
