<template>
  <div    class="d-v-menu"
  >
    <v-menu
      v-model="showEventMenu"
      :close-on-content-click="false"
      :bottom="true"
      content-class="p-cmmand-menu-contents"
      transition="slide-y-transition"
      offset-y>
      <template v-slot:activator="{ on }">
        <div
          v-on="on">
          <slot></slot>
        </div>
      </template>
      <v-date-picker
        :color="color"
        v-model="picker"
        locale="zh"
        range
        :show-current="false"></v-date-picker>
    </v-menu>
  </div>
</template>

<script>
  export default {
    name: 'SelectDayRange',
    data() {
      return {
        showEventMenu: false,
        birthday: "",
        picker: [],
      }
    },
    props: {
      value: {
        type: Array,
        default: ()=>{
          return []
        },
      },
      color: {
        type: String,
        default: ()=>{
          return "#585D9F";
        },
      }
    },
    watch: {
      "picker"(val, oldVal) {
        if(JSON.stringify(val)==JSON.stringify(oldVal)){}else{
          if(this.picker.length==2){
            setTimeout(()=>{
              this.showEventMenu = false
              this.$emit('input',this.picker)

            },500)
          }
        }

      },
      "value"(val) {

        if(_.isNil(this.value)){
          this.picker =[];
        }else{

          this.picker = this.$common.deepCopy(val)
        }
      }
    },
    computed: {}
  }
</script>

<style lang='scss'>
.d-v-menu {
.v-menu__content {
    box-shadow: none !important;
}
}
</style>
