<template>
  <div    class="d-v-menu"
  >
    <v-menu
      v-model="showEventMenu"
      :close-on-content-click="false"
      :bottom="true"
      content-class="p-cmmand-menu-contents"
      transition="slide-y-transition"
      offset-y>
      <template v-slot:activator="{ on }">
        <div
          v-on="on">
          <slot></slot>
        </div>
      </template>
      <v-date-picker
        v-model="picker"
        locale="zh"
        :show-current="false"></v-date-picker>
    </v-menu>
  </div>
</template>

<script>
  export default {
    name: 'SelectDay',
    data() {
      return {
        showEventMenu: false,
        birthday: "",
        picker: this.value
      }
    },
    props: {
      value: {
        type: String,
        default: new Date().toISOString().substr(0, 10),
      }
    },
    watch: {
      "picker"() {
        this.$emit('input', this.picker)
        this.showEventMenu = false
      },
      "value"() {
        if(_.isNil(this.value)){
          this.picker = new Date().toISOString().substr(0, 10);
        }else{
          this.picker = this.value
        }
      }
    },
    computed: {}
  }
</script>

<style lang='scss'>
.d-v-menu {
.v-menu__content {
    box-shadow: none !important;
}
}
</style>
