<template>
  <div style="padding: 30px;">

    <p style="line-height: 3; padding-top: 20px;">
      <v-skeleton-loader
        class="mx-auto"
        type="table-tbody"
      ></v-skeleton-loader>
    </p>  </div>
</template>

<script>
  export default {
    name: 'TableLoading',
    data() {
      return{}
    },
  }
</script>

<style lang='scss'>

</style>
