<template>
  <v-container>
    <v-row>
      <v-col>
        <label :for="uploadId" style="overflow: hidden;">
        <slot></slot>
        </label>
        <div style="width: 0; height: 0; overflow: hidden;">
          <VueUploadComponent
            style="width: 0; height: 0;"
            :name="uploadId"
            ref="upload"
            v-model="files"
            post-action="/post.method"
            put-action="/put.method"
            @input-file="inputFile"
            @input-filter="inputFilter"
          >
            上传文件
          </VueUploadComponent>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  const VueUploadComponent = require('vue-upload-component')

  export default {
    name: "UploadFile",
    layout: 'empty',
    auth: false,
    components: {
      VueUploadComponent
    },
    props:{
      imgUrl:{
        type:String,
        default:"/api/static/img/defaltHead.jpeg"
      }
    },
    data() {
      return {
        headerImgUrl:"/api/static/img/defaltHead.jpeg",
        files: [],
        visible: false,
        uploading:false,
        client:null,
        uploadId:this.getUuid(),

      }
    },
    methods: {
      /**
       * Has changed
       * @param  Object|undefined   newFile   只读
       * @param  Object|undefined   oldFile   只读
       * @return undefined
       */
      inputFile: function (newFile, oldFile) {
        console.log("inputFileinputFileinputFileinputFileinputFileinputFileinputFile")
        if (newFile && oldFile && !newFile.active && oldFile.active) {
          // 获得相应数据
          console.log('response', newFile.response)
          if (newFile.xhr) {
            //  获得响应状态码
            console.log('status', newFile.xhr.status)
          }
        }
      },
      /**
       * Pretreatment
       * @param  Object|undefined   newFile   读写
       * @param  Object|undefined   oldFile   只读
       * @param  Function           prevent   阻止回调
       * @return undefined
       */
      inputFilter: async function (newFile, oldFile, prevent) {
        console.log("inputFilterinputFilterinputFilterinputFilterinputFilterinputFilterinputFilterinputFilterinputFilterinputFilterinputFilterinputFilterinputFilterinputFilter")
        console.log(newFile)
        console.log("newFile"+newFile.size)
        if(newFile.size>1024*1024*2){
          this.$supervueLayer.msg("图片不能大于2M")
          return
        }
        this.uploading = true

/*        if (newFile && !oldFile) {
          // 过滤不是图片后缀的文件
          if (!/\.(jpeg|jpe|jpg|gif|png|webp)$/i.test(newFile.name)) {
            return prevent()
          }
        }*/

        this.$emit("input",newFile)



        /*        const objectKey ="/lingyi-pic2/"+ this.getUuid();
                //object-key可以自定义为文件名（例如file.txt）或目录（例如abc/test/file.txt）的形式，实现将文件上传至当前Bucket或Bucket下的指定目录。
                let result = await this.client.multipartUpload(objectKey, newFile.file, {
                  progress: function (p, checkpoint) {
                    console.log("p---------->"+p)
                    // 断点记录点。浏览器重启后无法直接继续上传，您需要手动触发继续上传。
                  //  tempCheckpoint = checkpoint;
                  },
                 // meta: { year: 2020, people: 'test' },
               //   mime: 'image/jpeg'
                })

                this.uploading = false

                this.headerImgUrl = "https://xiaolingyi.oss-cn-beijing.aliyuncs.com/"+objectKey

                this.$emit("input",this.headerImgUrl)
                this.$emit("successCallBack",this.headerImgUrl)*/

     /*   // 创建 blob 字段 用于图片预览
        newFile.blob = ''
        let URL = window.URL || window.webkitURL
        if (URL && URL.createObjectURL) {
          newFile.blob = URL.createObjectURL(newFile.file)
        }*/
      },


    },
    watch: {
      "title"() {
      },
/*      "imgUrl":{
        immediate:true,
        handler:function (val) {
          if(val){
            this.headerImgUrl = val
          }else{
            this.headerImgUrl = "/api/static/img/defaltHead.jpeg"
          }
        }
      },*/
    },

    async mounted() {

    }
  }
</script>

<style lang='scss'>

</style>
