<template>
  <v-dialog v-model="show"
            scrollable
            :width="width"
            :persistent="persistent"
            class="d-dialog">
    <v-card style="padding: 20px 20px;">
      <v-card-title
        class="headline"
        primary-title
      >
        {{ title }}
      </v-card-title>

      <v-card-text v-if="confirmType==1">
        <slot>
          <p v-html="summary" />
        </slot>
      </v-card-text>

      <v-card-text v-if="confirmType==2">
        <slot>
          <p v-html="summary" />
          <div style="margin-top: 8px">
            <v-text-field
              v-model="inputValue"
              dense
              hide-details
              outlined
              single-line
              label=""
              type="text"
            />
          </div>
        </slot>
      </v-card-text>

      <v-card-actions v-show="showFooter">
        <v-spacer />
        <v-btn color="blue darken-1" outlined
               @click="close">
          关闭
        </v-btn>
        <v-btn :loading="loading" color="primary"
               style="margin-left: 8px;"
               @click="confirmClick">
          确认
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  name:"ConfirmDialog",
  components: {
  },
  props:{
    value:{
      type:Boolean,
      default:false
    },
    width:{
      type:[Number,String],
      default:500
    },
    options:{
      type:Object,
      default: () => {
      }
    },
  },
  data() {
    return {
      summary:"summary",
      title:"title",
      show: false,
      inputDisabled: false,
      loading: false,
      confirm:'',
      cancel:'',
      showFooter:true,
      persistent:true,
      confirmType:1,  /*1 normal 2 input*/
      inputValue:null,
    }
  },
  computed: {

  },
  watch:{
    value:{
      immediate:true,
      deep:true,
      handler(val){
        this.show = val
      }
    },
    options:{
      immediate:true,
      deep:true,
      handler(val){
          for(let key in val){
            console.info(val[key])
            this[key] = val[key]
          }
      }
    },
    show(val){
      this.$emit("input",val)
    }
  },

  async fetch({store, app}) {

  },
  mounted() {

  },
  async beforeMount() {},
  methods: {
    close(){
      this.show = false
      if(this.cancel){
        this.cancel()
      }
    },
    confirmClick(confirmData){
      this.loading = true
      if(this.confirm){
        if(this.confirmType==2){
          confirmData = this.inputValue;
        }
        this.confirm(confirmData)
      }else{
        this.$emit("confirm",confirmData)
      }
    },
  }
}
</script>
